* {
  box-sizing: border-box;
}


ul {
  padding: 0;
  background: black;
  font-family: 'Hanken Grotesk','Open Sans', sans-serif,'Source Code Pro', monospace;
  text-transform: uppercase;
}


.content, li {
  display: block;
}

#bottom-nav, ul[
  display
]

.nav {
  position: float;
  top: 20;
  width: 100%;
  font-style: italic`;
  font-family: 'Hanken Grotesk','Open Sans', sans-serif,'Share Tech', sans-serif;
}

#top-nav
 a:visited {
  background-color: black;
  color: #7cb6b2;
  border: 2px solid #8da9c4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
}

#top-nav
a:link{
 background-color: black;
  color: #043672;
  border: 2px solid #8da9c4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: unerline;
  display: inline;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
}

#bottom-nav
a:visited {
  background-color: black;
  color: #7cb6b2;
  border: 2px solid #8da9c4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
  
}

#bottom-nav
a:link{
 background-color: black;
  color: #043672;
  border: 2px solid #8da9c4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: unerline;
  display: inline;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
  position: relative;
}

a{
  border-radius: 2rem;
}

a:link {
  text-decoration: underline;
  color: #a44957;
  font-weight: 600;
}

a:visited {
  text-decoration: none;
  color: #7cb6b2;
}

a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #8da9c4;
  transform: translateY(-0.25em);
  transition: all 0.25s;
}

a:active {
  text-decoration: underline;
  color: #FF0000;
}

img {
  max-width: 100%;
  height: auto;
  border: 3px solid #8da9c4;
}

.heading {
  font-family: 'Hanken Grotesk','Source Code Pro', monospace;
  text-transform: uppercase;
}

.content {
  font-family: 'Hanken Grotesk''Source Code Pro', monospace;
  font-size: 18px;
  color: white-smoke;
  background-color: #0c1622;
  padding: 6px;
}

h1 {
  color: whitesmoke(240, 235, 235);
  background-color: #0b2545;
  text-transform: uppercase;
  text-align: Center;
  font-weight: 50;
  border: 1px solid #8da9c4;
  border-radius: 2rem;

}

h2 {
  text-transform: uppercase;
  background-color: #2e349661;  
  color: whitesmoke(240, 235, 235);
  font-weight: 50;
  font-style: italic;
  text-align: center;
  border: 1px solid #8da9c4;
  padding: 1rem;
  background-color: #0b2545;
  text-transform: uppercase;
  border-radius: 2rem;
}

h3{
 text-transform: uppercase; 
  color: #0b2545;
  font-weight: 50;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  background-color: #8da9c4;
  border: 5px solid #0b2545;
  border-width: 1px 4px;
  border-radius: 13.8rem 0.25rem;
  padding: 20px;
}

p {
  font-family: 'Hanken Grotesk','Open Sans', sans-serif,'Source Code Pro', monospace;
  font-size: 25px border 2px dotted whitesmoke;
}

.byline {
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  color: whitesmoke;
  font-size: 20 px;
  font-weight: 200;
  font-family: 'Share Tech', sans-serif;
}

body{
  background-color: #222;
  margin-left: 16px;
  border-right-width: 0px;
  margin-right: 8px;
  margin-top: 29px;
  line-height: 1.6;
  color: whitesmoke;
  font-family: 'Hanken Grotesk','Open Sans', sans-serif,'Open Sans', 'sans-serif';
  }

  .content #day7{
    border: 2px solid red;
  }

 #bottom-nav{
  border-radius: 2rem;
 }