* {
  box-sizing: border-box;
}


ul {
  padding: 0;
  background: black;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}


.content, li {
  display: block;
}

#bottom-nav, ul[
  display
]

.nav {
  position: float;
  top: 20;
  width: 100%;
  font-style: italic`;
  font-family: 'Share Tech', sans-serif;
}

#top-nav
 a:visited {
  background-color: black;
  color: #7cb6b2;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
}

#top-nav
a:link{
 background-color: black;
  color: #043672;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: unerline;
  display: inline;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
}

#bottom-nav
a:visited {
  background-color: black;
  color: #7cb6b2;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
  
}

#bottom-nav
a:link{
 background-color: black;
  color: #043672;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: unerline;
  display: inline;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
  position: relative;
  
}

a:link {
  text-decoration: underline;
  color: #a44957;
  font-weight: 600;
}

a:visited {
  text-decoration: none;
  color: #7cb6b2;
}

a:hover {
  text-decoration: none;
  color: #188580;
}

a:active {
  text-decoration: underline;
  color: #FF0000;
}

img {
  max-width: 100%;
  height: auto;
  border: 3px solid whitesmoke;
}

.heading {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}

.content {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  color: white-smoke;
  background-color: #111;
}

h1 {
  color: whitesmoke(240, 235, 235);
  background-color: #2e349661;
  text-transform: uppercase;
  text-align: Center;
  font-weight: 50;
}

h2 {
  font-weight: 50;
  font-style: italic;
  font-style: italic;
  text-align: center;
  border: 1px dotted whitesmoke;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 25px border 2px dotted whitesmoke
}

.byline {
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  color: whitesmoke;
  font-size: 20 px;
  font-weight: 200;
  font-family: 'Share Tech', sans-serif;
}

body{
  background-color: #222;
  margin-left: 16px;
  border-right-width: 0px;
  margin-right: 8px;
  margin-top: 29px;
  line-height: 1.6;
  color: whitesmoke;
  font-family: 'open sans';
  }

  .content #day7{
    border: 2px solid red;
  }
