img {
    width: 28%;
    margin:calc(15%/6)
}

nav{
text-transform: uppercase;
border-bottom: 2px solid #f1f1f1;
width: 30%;
margin-left:calc(10%/6);
padding:1.2em 0;
font-family: 'Raleway', sans-serif;
font-size: 1.5em;
}

p{
    width: 90%;
    margin:calc(10%/6);
    font-size: 1em;
}div{
    display: flex;
    flex-basis: 700px;
    flex-wrap: wrap;
    flex-shrink: 1rem;
    flex-grow: 1rem;
    justify-content: space-evenly;
    align-items: stretch;
}