img {
    width: 28%;
    margin:calc(10%/6)
}

nav{
text-transform: uppercase;
border-bottom: 2px solid;
width: 30%;
margin-left:calc(10%/6);
padding:20px 0;
font-family: 'Raleway', sans-serif;
font-size: 1.5em;
}

p{
    width: 30%;
    margin:calc(10%/6);
    font-size: 1em;
}