body {
    margin-left: 16px;
    border-right-width: 0px;
    border-right-style: solid;
    margin-right: 8px;
    margin-top: 29px;
    line-height: 1.6;
  }

img {
  max-width: 300px;
  border-radius: 85%;
  border: 8px double gray;
}

* {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  color: whitesmoke;
  background-color: #2d2d2d;
}

.byline {
  border-top: 3px;
  border-bottom: 3px;
}

#lr_embed{
  max-width: 300px;
  border-radius: 85%;
  border: 8px double whitesmoke;
}

.gallery{
    box-sizing: border-box;
    color: black;
    max-height: 311px;
    max-width: 705px;
  }

  #top-nav
  a:link, a:visited {
    background-color: black;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    a:hover, a:active 
    background-color: grey;
    color: white;
  }