body {
  margin-left: 38px;
}

img {
  max-width: 300px;
  border-radius: 85%;
  border: 8px double black;
}

* {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  color: black;
}

.byline {
  border-top: 3px;
  border-bottom: 3px;
}