body {
    margin-left: 16px;
    border-right-width: 0px;
    border-right-style: solid;
    margin-right: 8px;
    margin-top: 29px;
    line-height: 1.6;
  }

img {
  max-width: 300px;
  border-radius: 85%;
  border: 4px double whitesmoke;
}

* {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  color: whitesmoke;
  background-color: #000;
}

.byline {
  border-top: 3px;
  border-bottom: 3px;
}

#lr_embed{
  max-width: 300px;
  border-radius: 85%;
  border: 8px double whitesmoke;
}

.gallery{
    box-sizing: border-box;
    color: black;
    max-height: 311px;
    max-width: 705px;
  }

  
#top-nav
 a:visited {
  background-color: black;
  color: #7cb6b2;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
}

#top-nav
a:link{
 background-color: black;
  color: #043672;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: unerline;
  display: inline-block;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
}

#bottom-nav
a:visited {
  background-color: black;
  color: #7cb6b2;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  a:hover, a:active 
  background-color: grey;
  color: #188580;
}

#bottom-nav
a:link{
  background-color: #e8efff;
   color: #043672;
   border: 2px solid whitesmoke;
   padding: 10px 20px;
   text-align: center;
   text-decoration: unerline;
   display: inline-block;
   a:hover, a:active 
   background-color: grey;
   color: #188580;
 }

a:link {
  text-decoration: underline;
  color: #a44957;
  font-weight: 600;
}

a:visited {
  text-decoration: none;
  color: #7cb6b2;
}

a:hover {
  text-decoration: none;
  color: #188580;
}

a:active {
  text-decoration: underline;
  color: #FF0000;
}

.education
  li::before {
  content: "📚";
  border-color: #188580;
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
  font-size: 1.25rem;
}

.hobbies
  li::before{
  content: "💖";
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
  font-size: 1.25rem;
  }

  .container{
    flex-wrap: wrap;
    flex-direction: row;
    width: 500px;
    margin: auto;
  }