body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: silver;
}

h1 {
  text-align: center;
  border-bottom: solid #466995;
  color: #4D4C7D;
}

h2 {
  color: #4D4C7D;
  text-align: center;
}

p{
    text-align: center;
  }

table {
  border: 2px solid #466995;
  width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

thead {
  background-color: #4D4C7D;
  color: whitesmoke;
  border-radius: 5px;
  text-transform: uppercase
}

td {
  border: dotted whitesmoke 1px;
  border-radius: 5px;
}

.code {
  font-family: monospace;
  background-color: #7c0505;
  color: #F2F2F2;
  border-radius: 5px;
}

.concept{
  background-color: #7c0505;
  color: #F2F2F2;
  border-radius: 5px;
  font-family: monospace;
}

.description{
  background-color: #7c0505;
  color: #F2F2F2;
  border-radius: 5px;
  font-family: monospace;
}


.td,
          .description{
  background-color: #4D4C7D;
}