body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: silver;
}

h1 {
  text-align: center;
  border-bottom: solid #4D4C7D
}

h2 {
  color: #4D4C7D;
  text-align: center;
}

p{
    text-align: center;
  }

table {
  border: 2px solid #466995;
  width: 650px;
  margin: 0 auto;
}

thead {
  background-color: #4D4C7D;
  color: whitesmoke;
}

td {
  border: solid whitesmoke 1px;
}

.code {
  font-family: monospace;
  background-color: #7c0505;
}

.concept{
  background-color: red;
  color: black;
  border-radius: 5px;
}

.discription{
  background-color: red;
  color: black;
  border-radius: 5px;
}